.banner-image {
  /* width: 200px; */
  width: 100%;
  aspect-ratio: 2/1;
}

/* 骨架屏 */
.skeleton-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.skeleton {
  height: 30px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #eee;
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
